/* 전역 */
a {
    color: #000;
    text-decoration: none;
}

/* header */
.mdl-layout__header {
    background-color:#fff;
    color:#000;
}
    .mdl-layout__header .mdl-layout__drawer-button{
        color: #606060;
    }
    .mdl-layout--fixed-drawer .mdl-layout__header .mdl-layout-title {
        display:none;
    }

/* drawer */
.android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 4px 0;
}

.mdl-layout__drawer{
    background:#fff;
    box-shadow:none;
    border-right:none;
}
    .mdl-layout__drawer .mdl-layout__drawer-button2 {
        display: block;
        position: absolute;
        height: 48px;
        width: 48px;
        border: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        font-size: 26px;
        line-height: 56px;
        font-family: Helvetica,Arial,sans-serif;
        margin: 8px 12px;
        top: 0;
        left: 0;
        color: #606060;
        z-index: 4;
    }
    .mdl-layout__drawer>.mdl-layout-title{
        padding-left:80px;
        color:#000;
    }
    .mdl-layout__drawer .mdl-navigation{
        padding-top:0;
        padding-bottom:16px;
    }
        .mdl-layout__drawer .mdl-navigation .mdl-navigation__topic{
            padding: 12px 20px;
        }
        .mdl-layout__drawer .mdl-navigation .mdl-navigation__link
        {
            padding: 12px 40px;
            margin: 0;
            color:#000;
        }

/* content */
.mdl-layout__content{
    background: #f9f9f9;
}
    .banner-area{
        height:250px;
        background-image: url('../img/channel_potato3.jpg');
        background-size:cover;
        background-position-y:50%;
    }
    #viewer__content {
        max-width: 1754px;
    }
        .category-chunk{
            max-width:1280px;
            margin: auto;
        }
            .category-subheaders{
                margin-top:24px;
            }
                .category-title{
                    font-size: 16px;
                }
                .category-subtitle{
                    margin-top:8px;
                    color:#606060;
                    font-size:14px;
                }
            .category-contents{
                margin-top:24px;
                margin-bottom:24px;
            }
                .list-item{
                    margin-right: 4px;
                    display:inline-block;
                }
                    .list-thumbnail{
                        width:210px;
                    }
                    .list-title{
                        margin:8px 0;
                    }
                    .list-metadata{
                        color: #606060;
                    }

/* project */
@media(min-width:840px){
    .swiper-container {
        width: 100%;
        padding-bottom:56.25%;
        overflow:hidden;
        background: #000;
    }
        .swiper-container .swiper-wrapper{
            position:absolute
        }
            .swiper-container .swiper-slide img{
                height:100%;
                display:block;
                margin:auto;
            }

    .mdl-cell__viewer{
        width:calc(100% - 460px);
    }
        .project-tag{
            color:#065fd4;
            font-size:12px;
        }
        .project-info{
            color: #606060;
            display:flex;
            align-items:center;
            justify-content:space-between;
        }

    .mdl-cell__recommend{
        width:420px;
    }
}
.swiper-button-next, .swiper-button-prev {color:#fff;}

/* career */
.career-contents{
    display:flex;
    height:130px;
}
.career-avatar{
    margin-right: 16px;
    max-width: 360px;
    min-width: 240px;
    flex:1;
}
    .career-avatar img{
        display:block;
        margin:auto;
        height: 100%;
    }
.career-info{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
    .career-info .list-title{
        font-size:18px;
    }
    .career-info .list-metadata{
        font-size:13px;
    }