<div class="mdl-layout__drawer">
    <div class="mdl-layout-title">
        <a href="index.html">Portfolio</a>
        <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button2">
            <i class="material-icons"></i>
        </div>
    </div>
    <nav class="mdl-navigation">
        <span class="mdl-navigation__topic">Career</span>
        <a class="mdl-navigation__link" href="../project.html">프로젝트</a>
        <!--<a class="mdl-navigation__link" href="intro.html">자기소개</a>-->
        <a class="mdl-navigation__link" href="../career.html">경력사항</a>

        <div class="android-drawer-separator"></div>

        <span class="mdl-navigation__topic">관심사</span>
        <a class="mdl-navigation__link" href="">구독</a>
        <a class="mdl-navigation__link" href="">취미</a>
        <a class="mdl-navigation__link" href="">연습장</a>

        <div class="android-drawer-separator"></div>

        <span class="mdl-navigation__topic">포트폴리오</span>
        <a class="mdl-navigation__link" href="">패치 예정</a>
        <a class="mdl-navigation__link" href="">패치 노트</a>
    </nav>
</div>