{% include head.html %}
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        {% include header.html %}
        {% include drawer.html %}
        <main class="mdl-layout__content">
            <div class="banner-area"></div>
            <div id="viewer__content" class="project-viewer">
                <div class="category-chunk">
                    <div class="career-avatar">
                        <img src="img/logo_icd.png">
                    </div>
                    <div class="career-info">

                    </div>
                    <div class="android-drawer-separator"></div>
                </div>
            </div>
        </main>
    </div>
</body>
