{% include head.html %}
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        {% include header.html %}
        {% include drawer.html %}
        <main class="mdl-layout__content">
            <div class="banner-area"></div>
            <div id="viewer__content" class="list-viewer">
                <div class="category-chunk">
                    <div class="category-subheaders">
                        <div class="category-title"># 메인 프로젝트</div>
                        <div class="category-subtitle">이전 근무지에서 진행한 프로젝트입니다</div>
                    </div>
                    <div class="category-contents">
                        <a href="project/icd.html" class="list-item">
                            <img src="img/thumb_icd.jpg" class="list-thumbnail">
                            <div class="list-title">(주)의왕아이시디 홈페이지</div>
                            <div class="list-metadata">2019.8. ~ 2019.11.</div>
                        </a>
                        <a href="project/reviewnavi.html" class="list-item">
                            <img src="img/thumb_reviewnavi.jpg" class="list-thumbnail">
                            <div class="list-title">SNS 마케팅 플랫폼(리뷰나비)</div>
                            <div class="list-metadata">2018.11. ~ 2019.5.</div>
                        </a>
                    </div>
                    <div class="android-drawer-separator"></div>
                </div>
                <div class="category-chunk">
                    <div class="category-subheaders">
                        <div class="category-title"># 사이드 프로젝트</div>
                        <div class="category-subtitle">역량강화를 위해 진행한 프로젝트입니다</div>
                    </div>
                    <div class="category-contents">
                        <a href="project/fireballs.html" class="list-item">
                            <img src="img/thumb_fireballs.jpg" class="list-thumbnail">
                            <div class="list-title">파이어볼스(동아리) 홈페이지</div>
                            <div class="list-metadata">2016.1. ~ 2016.8.</div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
